<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dcc12bb9e8c64775b2b8140031750a63 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dcc12bb9e8c64775b2b8140031750a63" ></div>
        
</body>
<script>    
    
            var map_dcc12bb9e8c64775b2b8140031750a63 = L.map(
                "map_dcc12bb9e8c64775b2b8140031750a63",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d76a20ce2e884969b76a557e046e651c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dcc12bb9e8c64775b2b8140031750a63);
        
    
            var marker_2ff0ced378f9486eac794978add88fbe = L.marker(
                [47.7891763, 22.8725598],
                {}
            ).addTo(map_dcc12bb9e8c64775b2b8140031750a63);
        
    
            marker_2ff0ced378f9486eac794978add88fbe.bindTooltip(
                `<div>
                     Location: Hometown
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2c3dfa2fcd864059a76a3662d823e9c6 = L.marker(
                [44.4347614, 26.060308],
                {}
            ).addTo(map_dcc12bb9e8c64775b2b8140031750a63);
        
    
            marker_2c3dfa2fcd864059a76a3662d823e9c6.bindTooltip(
                `<div>
                     Location: Palatul Cotroceni
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f7d196bc2c3c4e3f9211a0b0c8121608 = L.marker(
                [43.7525749, 28.5729087],
                {}
            ).addTo(map_dcc12bb9e8c64775b2b8140031750a63);
        
    
            marker_f7d196bc2c3c4e3f9211a0b0c8121608.bindTooltip(
                `<div>
                     Location: Seaside
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff7686038b344c57bb629177bcfcd72d = L.marker(
                [52.5170365, 13.3888599],
                {}
            ).addTo(map_dcc12bb9e8c64775b2b8140031750a63);
        
    
            marker_ff7686038b344c57bb629177bcfcd72d.bindTooltip(
                `<div>
                     Location: Berlin
                 </div>`,
                {"sticky": true}
            );
        
</script>