<!DOCTYPE html>
<html>
<head>
	<title>Uzbekistan Map</title>
	<!-- include folium CSS and JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/folium/0.12.1/leaflet.css" integrity="sha512-+dR0nSt9kHjK1+swhLwM3i2aPIkeKjgLZfhsgtZPvg4x4gX9c/LilCu2Kkftc5YP5JL1+vDW5e5SSZBfl6Uq3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/folium/0.12.1/leaflet.js" integrity="sha512-i5ny5vmwW5dWRm5eJ6ZKP3q+zfS6Ptfp6/M/4C4R+x+P4w4a2N6OxizZTJeT0Tjmxr8Qd9XIT82xEzzJ3qLAbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<!-- insert the map here -->
	{{ map|safe }}
</body>
</html>